.pagination_component {
  margin: 27px 0 60px;
  /* display: flex;
  flex-direction: column; */
  
}
.pagination {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 11px;
}
.pagination_item {
  border-radius: 5px;
  overflow: hidden;
}
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--azul-oscuro);
  height: 50px;
  width: 50px;
  background-color: var(--paginado);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.page:hover {
  background-color: var(--naranja);
  color: var(--blanco);
}
.page.active {
  background-color: var(--naranja);
  color: var(--blanco);
}