.pagination_component {
  margin: 50px 0;
}
.pagination {
  display: flex;
  list-style: none;
  gap: 5px;
}
.pagination_item {
  background-color: var(--paginado);
  border-radius: 5px;
  overflow: hidden;
}
.page_link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: var(--azul-oscuro);
  height: 30px;
  width: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.page_link:hover,
.page_link:focus {
  background-color: var(--naranja);
  color: var(--blanco);
}