.home {
  max-width: 1050px;
  margin: 0 auto;
}
.home_options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.div_filtro_ordernamineto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 240px;
  width: 100%;
  /* background-color: aqua; */
}
.div_ordernamiento {
  display: flex;
  justify-content: space-between;
  max-width: 240px;
}
.ordenar_text {
  font-size: 18px;
  font-weight: 600;
  color: var(--gris-claro);
}
.select_ordernamiento {
  border: none;
  cursor: pointer;
  /* width: 100%; */
}
.select_ordernamiento:focus {
  outline: none;
}