.filtro {
  display: inline-flex;
  flex-direction: column;
  font-family: 'Montserrat';
}
.div_button_filter {
  display: flex;
  justify-content: flex-end;
}
.button_filter {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 500;
  padding: 7px 12px 5px 10px;
  border-radius: 10px;
  color: var(--gris-claro);
  border: 1px solid var(--gris-placeholder);
  background-color: var(--blanco);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button_filter:hover {
  color: var(--gris-oscuro);
  border-color: var(--gris-oscuro);
}
.icon_filtro {
  width: 25px;
}
.div_filtros_relative {
  position: relative;
  background-color: brown;
}
.div_filtros {
  position: absolute;
  display: flex;
  background-color: aqua;
  gap: 50px;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 500px;
}