.Form_container {
  max-width: 526px;
  border-radius: 10px;
  box-shadow: 0px 4px 22px 0px #0000001A;
  font-family: 'Montserrat';
  padding: 40px;
}
.form_title {
  font-size: 16px;
  font-weight: 700;
  color: var(--azul-oscuro);
}
.form_title_naranja {
  color: var(--naranja);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 31px;
  margin-top: 50px;
}
label {
  /* position: relative;
  top: 9px; */
  font-size: 14px;
  font-weight: 700;
  color: var(--gris-claro);
}
.div_input {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background-color: var(--gris-search-bar);
  padding: 6px 6px;
  height: 50px;
  margin-top: 10px;
  border: 2px solid transparent;
}
.div_input.error{
  border: 2px solid rgba(255, 0, 0, 0.28);
}

.div_inputs_dobles {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.unidad {
  font-weight: 700;
  font-size: 14px;
  border-left: 1px solid var(--gris-placeholder);
  padding: 15px 2px 15px 5px;
  color: var(--gris-claro);
}
.label_min {
  opacity: 0;
}
.form_input.min,
.form_input.max {
  max-width: 165px;
}
.form_input.min_years,
.form_input.max_years {
  max-width: 149px;
}
.form_input {
  border: none;
  background-color: var(--gris-search-bar);
  height: 100%;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  padding: 4px 9px;
  color: var(--gris-claro);
  letter-spacing: 0.6px;
}
.form_input:focus {
  outline: none;
}
.form_input::placeholder {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  color: var(--gris-placeholder);
}
.submit {
  width: 100%;
  border: none;
  color: var(--blanco);
  font-size: 26px;
  font-weight: 700;
  padding: 10px 0;
  border-radius: 8px;
  background-color: var(--naranja);
}
.submit:focus {
  outline: none;
}
.dato_incorrecto {
  display: none;
  margin-left: 15px;
  color: #DF4545;
  font-size: 12px;
  font-weight: 700;
}