.divInput_SearchBar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gris-search-bar);
  border-radius: 10px;
  /* max-width: 240px; */
  width: 240px;
  max-height: 50px;
  padding: 8px 8px 8px 12px;
  overflow: hidden;
}
.searchBar {
  width: 100%;
  height: 34px;
  border: none;
  background-color: var(--gris-search-bar);
  border-radius: 4px;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  color: var(--gris-placeholder);
}
.searchBar::placeholder {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  color: var(--gris-placeholder);
}
.searchBar:focus {
  outline: none;
}
.button_search {
  padding: 7px 5px 3px;
  border: none;
  cursor: pointer;
}
.searchIcon {
  width: 20px;
}


.divSearchBar_Results {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  position: absolute;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(213, 213, 213, 0.701);
  width: 240px;
  max-height: 400px;
  background-color: var(--blanco);
  overflow: hidden;
  margin-top: 10px;
}
.results{
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: var(--gris-muy-claro);
  overflow: hidden;
  padding: 2px 0 4px;
}
.results:hover {
  color: var(--naranja);
}

.div_nameResult{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}